
<div class="logo" style="padding-top: 5px;">
<a href="/" title="Simple social auctions" ><img src="/images/logo2.png" width="170" height="170" alt="bidli" /></a>
<div id='headline'>
<h1>Auctions on Bidli.</h1>

<h2><%= link_to 'Sell something', new_item_path %></h2>
</div>
<br>
<div id='table'>
<table>
  <tr>
    <th>Title</th>
    <th>Starting bid</th>
    <th>Ending date</th>
    
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to image_tag(item.photo.url(:thumb)), item %> <%= link_to item.title, item %></td>
    <td><%=h item.startingbid %></td>
    <td><%=h item.enddate %></td>
    
    <% if logged_in? %>
	<% if current_user.login == 'matjohnson' %>
    
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
	<% else %>
	<% end %> 
	<% end %>  
   
  </tr>
<% end %>
</table>
</div>

<%= will_paginate @items %>

</div>
<br />

