<h1>Listing items</h1>

<h2><%= link_to 'Start your own auction', new_item_path %></h2>

<table>
  <tr>
    <th>Title</th>
    <th>Starting bid</th>
    <th>Ending date</th>
    <th>See it</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.title %></td>
    <td><%=h item.startingbid %></td>
    <td><%=h item.enddate %></td>
    <td><%= link_to 'See it', item %></td>
    <% if logged_in? %>
	<% if current_user.login == 'matjohnson' %>
    
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
	<% else %>
	<% end %> 
	<% end %>  
   
  </tr>
<% end %>
</table>

<br />

