<table>
	<tbody>
		<tr>
			<td>
				<div id='photo'>

  <%= image_tag @item.photo.url %>
</div>

			</td>
			<td>
<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Starting bid:</b>
  <%=h @item.startingbid %>
</p>

<p>
  <b>End date:</b>
  <%=h @item.enddate %>
</p>

<p>
  <b>Seller:</b>
  @<%=h @item.seller %>
</p>

<% if logged_in? %>

<% if current_user.login == @item.seller %>
            <h1>

 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I started this new auction on bidli<%=h @item.id %></span>Start Auction</a>
</h1>
<p><a href="#cl">Get Craigslist code</a></p>
          <% else %>
          
            <h1>

 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I bid $(bid amt) on bidli<%=h @item.id %></span>Place Bid</a>
</h2>          
          <% end %>
          <% else %>
          <h1>
 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I bid $(bid amt) on bidli<%=h @item.id %></span>Place bid with Twitter</a>
</h1>
          <% end %>



<p>
	<b>Current Bids:</b>
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>

new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'bidli<%=h @item.id %>',
  interval: 6000,
  title: ' ',
  subject: ' ',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#444444'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().start();
</script>
</p>

</td>
</tr>
	</tbody>
</table>
<% if logged_in? %>
<% if current_user.login == 'matjohnson' %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% else %>
<% end %>
<% end %>
	<%= link_to 'See all auctions', items_path %>
	
<% if logged_in? %>

<% if current_user.login == @item.seller %>

<p id="cl">Craigslist Snippet. Copy & paste <a href="http://post.craiglist.org">here.</a></p>

<div id='snippet'>
<pre>
&lt;table&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;  
&lt;img src=&quot;<%= url_for @item.photo.url %>&quot; /&gt;
&lt;/td&gt;&lt;td&gt;&lt;p&gt;&lt;b&gt;Title:&lt;/b&gt;
<%=h @item.title %>
&lt;/p&gt;&lt;p&gt;&lt;b&gt;Starting bid:&lt;/b&gt;  
<%=h @item.startingbid %>
&lt;/p&gt;&lt;p&gt;&lt;b&gt;End date:&lt;/b&gt;  
<%=h @item.enddate %>
&lt;/p&gt;&lt;p&gt;&lt;b&gt;Seller:&lt;/b&gt;  
@<%=h @item.seller %>
&lt;a href=&quot;http://bidli.com<%= url_for(@item) %>&quot;&gt;More info and latest bids&lt;/a&gt;&lt;/p&gt;<br>&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;
</pre>
</div>
<% else %>
<% end %>
<% end %>