<table>
	<tbody>
		<tr>
			<td>
				<div id='photo'>

  <%= image_tag @item.photo.url %>
</div>
<p><b>Did you win?</b></p>
<p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHFgYJKoZIhvcNAQcEoIIHBzCCBwMCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB6RKmHNuQ6vLutH0XJNOeMflDcUB3rJBojDUv9C25pi+fjQ+x1eJFwbjQbyW2/c8+7h48HDeyh0QkXe9JGVtu4LrzNeZvQKy4xLedGpQTXGJyX9WGz2TT7mjCBWgcJlo61iQVkDJLjtsTwXOKlhU8wKJa4iQ7PpWt0ZX5dDyqS2TELMAkGBSsOAwIaBQAwgZMGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIyGKQae1+QnqAcFlVjt5O4hqdKivRrOZpKNwiG5+j/2wvOYdfGcaoU6ujaYpU94lbvMXFs1yG4D/GZ2XDXKxbsTqZbgVsHnvqM7DgpUkUbUJ/1hni5+w7EQLBI96PMbvCQye994JSWXOGbbvlVwDbY+9i2fXTMjvkBBWgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMDAxMTMxNzI4MjNaMCMGCSqGSIb3DQEJBDEWBBSv4wm2//S7b6VdxlcKkFOBKK9gpTANBgkqhkiG9w0BAQEFAASBgHYzVjZPjmSvB0ZEv8JMMUAwnvA1V+xmPG2Ht/6uCRQ4DLYKS6gpnErZeaaNvX3LvcBJDkZSXBC8WEheJFYR7fOUxwDycq9yIyFXoPWpYBeaSOVRqRSSCvhn7Z7BneHdhL6j+niRR3WXMkW1ZnCrtd0Kjd4u2iXP3G/HS7lhh/By-----END PKCS7-----
">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</p>
			</td>
			<td>
<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Starting bid:</b>
  <%=h @item.startingbid %>
</p>

<p>
  <b>End date:</b>
  <%=h @item.enddate %>
</p>

<p>
  <b>Seller:</b>
  @<%=h @item.seller %>
</p>

<% if logged_in? %>

<% if current_user.login == @item.seller %>
            <h1>

 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I started this new auction on bidli<%=h @item.id %></span>Start Auction</a>
</h1>
          <% else %>
          
            <h1>

 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I bid $(bid amt) on bidli<%=h @item.id %></span>Place Bid</a>
</h2>          
          <% end %>
          <% else %>
          <h1>
 <a href="#" onclick="return TweetAndTrack.open(this, 'http://bidli.com<%= url_for(@item) %>');"><span style="display:none;">I bid $(bid amt) on bidli<%=h @item.id %></span>Place bid with Twitter</a>
</h1>
          <% end %>



<p>
	<b>Current Bids:</b>
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>

new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'bidli<%=h @item.id %>',
  interval: 6000,
  title: ' ',
  subject: ' ',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#444444'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().start();
</script>
</p>

</td>
</tr>
	</tbody>
</table>
<% if logged_in? %>
<% if current_user.login == 'matjohnson' %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% else %>
<% end %>
<% end %>
	<%= link_to 'See all auctions', items_path %>
