<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Simple social auctions: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'master' %>
  <script type="text/javascript" src="http://use.typekit.com/jqj2mbs.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&login=tweettrackjs&apiKey=R_7e9987b2fd13d7e4e881f9cbb168f523"></script>


  <script type="text/javascript" charset="utf-8" src="http://s.bit.ly/TweetAndTrack.js?v=1.01"></script>


</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<a href="/" title="Simple social auctions" ><img src="http://farm3.static.flickr.com/2688/4153946227_620c2d5235_m.jpg" width="240" height="66" alt="bidli" /></a>


<%= yield %>

<div id='footer'>
      Copyright &copy; 2009 Bidli. A <%= link_to 'Mattishness', 'http://mattishness.blogspot.com/', :target => '_blank' %> Project.
    </div>
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2371053-13");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
